body {
    background-color: lightblue; 
    text-align: center; 
    font-family: Arial, sans-serif; 
    padding: 20px; 
}

h1 {
    color: black; 
}

h2, h3, p {
    color: #5f3d20;
}

img {
    max-width: 100%; 
    height: auto;
    border-radius: 5px;
    border: 3px solid #a07855; 
    margin: 15px 0; 
}